* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}
body {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: grid;
  background-color: rgb(235, 235, 235);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-left {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toptext {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 30px;
}

.logo {
  size-adjust: 10%;
}

h1 {
  margin: 30px;
}

h2 {
  margin: 10px;
}

.background-image {
  margin: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(img/happiest-dog.webp);
  height: 600px;
}

.grass-img {
  margin: 15px;
}

#text-pet-resort1 {
  color: white;
  margin: 15px;
  font-size: 40px;
}

#text-pet-resort2 {
  color: white;
  margin: 5px 20px 40px 20px;
  font-size: 20px;
}

.cards {
  display: grid;
  margin: 25px;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "october  october october partners"
    "merch  buddies  fine partners"
    "march  buddies fine  partners";
}

.october-grooming {
  border-radius: 15px;
  background-color: white;
  grid-area: october;
  gap: 10px;
  display: flex;
  justify-content: start;
}

.october-grooming-img {
  display: flex;
  border-radius: 15px;
  margin: 15px;
}

.october-grooming-text {
  margin: 15px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.book-grooming {
  font-size: 15px;
}

.merch {
  border-radius: 15px;
  background-color: white;
  grid-area: merch;
  max-height: 100%;
}

.merch-img {
  margin: 15px;
  display: flex;
  justify-content: center;
}

.buddies-for-life {
  border-radius: 15px;
  background-color: white;
  grid-area: buddies;
}

.fine-dining {
  border-radius: 15px;
  background-color: white;
  grid-area: fine;
}

.partners {
  border-radius: 15px;
  background-color: white;
  grid-area: partners;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.pl {
  max-width: 150px;
}

.fine-dining-img {
  border-radius: 15px;
  margin: 15px;
  display: flex;
  justify-content: center;
}

.buddies-img {
  margin: 15px;
  display: flex;
  justify-content: center;
}

.yap {
  margin: 10px;
}
