* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
}
body{
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: grid;
}

.top {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-left {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toptext {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 30px;
}

.logo {
  size-adjust: 10%;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}

.background-image {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(img/happiest-dog.webp);
  height: 600px;
}

.grass-img {
  margin: 20px;
}

#text-pet-resort1 {
  color: white;
  margin: 20px;
  font-size: 40px;
}

#text-pet-resort2 {
  color: white;
  margin: 5px 20px 40px 20px;
  font-size: 20px;
}

.cards {
  display: grid;
  columns: 1fr 1fr 1fr 1fr;
  }

.october-grooming {
  display: flex;
  justify-content: start;
}

.october-grooming-img {
  margin: 15px;
  border-radius: 4%;
}

.october-grooming-text {
  margin: 15px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.book-grooming {
  font-size: 15px;
}

